# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Next.js
client/.next/
client/out/
client/build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-*
